<!DOCTYPE html>
<html>
  <head>
    <title>Cancancan Tutorial</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
  <div>
    <div class="container">
    <% if notice %>
      <div class="alert alert-primary d-flex justify-content-center"><%= notice %></div>
    <% end %>
    <% if alert %>
      <div class="alert alert-warning d-flex justify-content-center" class="alert"><%= alert %></div>
    <% end %>      
      <%= render 'shared/navbar' %>
    </div>
  </div>
  <div class="container">
    <%= yield %>
  </div>
  </body>
</html>
